
*{
    background-color: gold;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    border-bottom: 1px solid #1a1a1a;
}
li{
    text-decoration: none;
    list-style: none;
    width: 252px;
    display: flex;
}
li a{
    display: flex;
}
nav{
    display: flex;
    position: fixed;
    top: 0;
    background-color: black;
    padding: 15px;
    border-radius: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    transition: 2.3s;
}
nav a:hover{
    color: red;
}
nav h1{
    color: white;
    display: block;
    margin-right: 8px;
}
body{
    font-family: Bastoni;
    padding: 20px;
    background-color: gold;
}
.login-container{
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    background: red;
    width: 300px;
    border: 10px solid black;
}
input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}
button{
    padding: 15px 35px;
    margin: 10px;
    background: blue;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 5px;
}
.subjects{
    animation: fadeIn 2s;
    display: flex;
    gap: 20px;
    padding: 20px;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.card{
    background: white;
    margin-top: 0;
    height: 314px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 225, 0.3);
    transition: 5s;
}
.card:hover{
    transform: translateY(-10px);
    opacity: 1;
    animation: fadeUp 1s forwards;
}
.card:nth-child(1){
    animation-delay: 0.2s;
}
.card:nth-child(2){
    animation-delay: 0.5s;
}
.card:nth-child(3){
    animation-delay: 0.8s;
}
@keyframes fadeUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
button{
    transition: 0.3s;
    background: orange;
    color: white;
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 5px;
}
button:hover{
    background: black;
    transform: scale(1.1);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: gold;
}